.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 960px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}